<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Protected Route</title>
</head>

<body>
    <a href="/profile">Back</a>
    <h1>Hi <%= user.name %>. This is Protected Route
    </h1>
</body>


</html>